PortableNet/data
PortableNet.xcodeproj/xcuserdata
.DS_Store
*~

PortableNet/1.jpg
PortableNet/10.png
PortableNet/11.jpg
PortableNet/12.jpg
PortableNet/13.jpg
PortableNet/14.png
PortableNet/15.jpg
PortableNet/16.jpg
PortableNet/17.jpg
PortableNet/18.jpg
PortableNet/19.jpg
PortableNet/2.png
PortableNet/20.jpg
PortableNet/21.jpg
PortableNet/3.png
PortableNet/4.jpg
PortableNet/5.jpg
PortableNet/6.jpg
PortableNet/7.jpg
PortableNet/8.jpg
PortableNet/9.jpg
